.create{  
    &__form{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        input{
            padding: 10px 10px 10px 20px;
            border-radius: 5px;
            border: 1px solid #232536;
            outline: none;
        }
        button{
            width: 20%;
            padding: 10px 40px;
            background-color: #232536;
            border: 1px solid #232536;
            border-radius: 5px;
            font-weight: 600;
            color: white;
            transition: all 0.5s ease;
            &:hover{
                background-color: transparent;
                color: #232536;
            }
            &:disabled{
                background-color: #484b68a8;
                color: rgb(176, 173, 173);
                cursor: no-drop;
                border: #484b68a8;
            }
        }
    }
}